*                 text=auto

*.cpp             text diff=cpp
*.h               text diff=cpp
*.vert            text
*.frag            text
*.geom            text
.gitattributes    text
.gitignore        text

*.png             binary

*.vcxproj         text merge=union eol=crlf
*.sln             text merge=union eol=crlf
